.card {
    .card-img-top {
        width: 15vh;
        max-width: 150px;
        max-height: 200px;
    }
}

@media (max-height: 520px) {
    .card {
        .card-img-top {
            width: 15vh;
        }
    }
}

@media (max-height: 400px) {
    .card {
        .card-img-top {
            width: 15vh;
        }
    }
}

@media (max-width: 605px) {
    .card {
        .card-img-top {
            max-width: 100%;
        }
    }
}
