<app-header [showBackButton]="false" *ngIf="!isIntro"></app-header>
<div id="area" class="d-flex flex-wrap align-items-center justify-content-center">
    <div id="pre-game-screen" appBackground>
        <div id="intro-page" class="pre-game-page d-flex flex-wrap justify-content-center align-items-center" *ngIf="isIntro">
                <img id="logo-intro" #logoIntro class="animated zoomIn fadeIn slower" src="./assets/img/logo-text.png" alt="">
        </div>
        <div id="choose-character-page" class="pre-game-page d-flex flex-wrap justify-content-center" #charPage>
            <div class="row">
                <div class="col col-12">
                    <p class="t-yellow" id="choose-char-txt">Escolha os personagens</p>
                </div>
            </div>
            <div id="characters-cards" class="row d-flex justify-content-center">
                <div class="col col-4">
                    <app-character-choose-card (charToFind)="findCharacter1($event)" [charFoundName]="char1FoundName" [charFoundSrc]="char1FoundSrc"></app-character-choose-card>
                </div>
                <div class="col col-2 d-flex align-items-center justify-content-center">
                    <p id="vs" class="t-yellow">VS</p>
                </div>
                <div class="col col-4">
                    <app-character-choose-card (charToFind)="findCharacter2($event)" [charFoundName]="char2FoundName" [charFoundSrc]="char2FoundSrc"></app-character-choose-card>
                </div>
            </div>
            <div class="row">
                <div class="col-12 btn-action-col d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-success" *ngIf="ready" (click)="goToGame()">Jogar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-sound-player [action]="soundPlayerAction"></app-sound-player>



