#area {
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    #pre-game-screen {
        width: 600px;
        height: 600px;
        overflow: hidden;
        .pre-game-page {
            width: 100%;
            height: 100%;
        }
        #intro-page {
            text-align: center;
            #logo-intro {
                max-height: 70%;
                max-width: 100%;
            }
        }
        #choose-character-page {
            background-color: rgba(0, 0, 0, 0.9);
            .row {
                width: 100%;
            }
            #choose-char-txt {
                padding-top: 10px;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
            #characters-cards {
                #vs {
                    font-size: 48px;
                    text-align: center; 
                    font-weight: bold; 
                }
            }
            .btn-action-col {
                padding-top: 10px
            }
        }
    }   
}

.t-yellow {
    color: rgb(241, 208, 20);
}

@media (max-height: 720px) {
    #area {
        #pre-game-screen {
            height: 100%;
        }
    }
}

@media (max-height: 529px) {
    #area {
        padding-top: 60px;
    }
}

@media (max-width: 700px) {
    #area {
        padding-top: 60px;
    }
}

@media (max-width: 599px) {
    #area {
        width: 100vw;
    }
    #logo-intro {
        width: 70%;
    }
}