#score-board {
    width: 100%;
    min-height: 50px;
    position: relative;
    font-size: 20px;
    background-color: rgba(0, 87, 121, 0.7);
    .col {
        height: 100%;
        img {
            &.actualPlayer {
                border-bottom: 5px solid rgb(21, 175, 67);
            }
        }
        .score {
            color: #fff;
            text-align: center;
            p {
                margin-bottom: 0;
                line-height: 100%; 
            }
        }
        .simbol, .score {
            margin: 3px;
        }
        .character {
            height: inherit;
        }
    }
    
}


// @media (max-width: 700px) {
//     #score-board {
//         height: 80px;
//         // .col > img, .col > div {
//         //     width: 80px;
//         //     height: 80px;
//         // }
//     }
// }

@media (min-height: 401px) {
    #score-board {
        min-height: 50px;
        .simbol, .score {
            width: 50px;
            height: 50px;
        }
        .character {
            width: 50px;
        }
    }
    
}

@media (max-height: 400px) {
    #score-board {
        min-height: 30px;
        .simbol, .score {
            width: 30px;
            height: 30px;
        }
        .character {
           width: 30px;
        }
    }
}

@media (max-height: 320px) {
    #score-board {
        min-height: 20px;
        .simbol, .score {
            width: 20px;
            height: 20px;
        }
        .character {
           width: 20px;
        }
    }
}