<div id="score-board">
  <div class="row d-flex align-items-center">
    <div class="col col-4 d-flex flex-nowrap justify-content-start align-items-center">
      <img class="character" [src]="player1Img" [class.actualPlayer]="actualPlayer == 0"><img class="simbol" src="assets/img/x.png" alt="">
    </div>
    <div class="col col-4 d-flex flex-nowrap justify-content-center">
        <div class="score" style="border: 2px solid #fff200; margin-right: 5px;"><p>{{player1Score}}</p></div>
        <div class="score" style="border: 2px solid #ff1b1b; margin-right: 5px;"><p>{{player2Score}}</p></div>
    </div>
    <div class="col col-4 d-flex flex-nowrap justify-content-end align-items-center">
        <img class="simbol" src="assets/img/o.png" alt=""><img class="character" [src]="player2Img" [class.actualPlayer]="actualPlayer == 1">
    </div>
  </div>
</div>
