#area {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    #game-screen {
        width: 600px;
        height: 600px;
        overflow: hidden;
        .game-page {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            background-color: rgba(0, 0, 0, 0.9);
        }
        #canvas-page {
            
        }
        #endmatch-page {
            > * {
                width: 100%;
            }
            
            .endgame-msg {
                text-align: center;
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 0;
            }
            .btn-action-col {
                padding-top: 10px;
                width: 100%;
                button {
                    width: 150px;
                }
            }
        }
    }   
}

.t-yellow {
    color: rgb(241, 208, 20);
}

@media (max-height: 720px) {
    #area {
        #game-screen {
            height: 100%;
        }
    }
}

@media (max-width: 700px) {
    #area {
        // padding-top: 80px;
    }
}

@media (max-width: 599px) {
    #area {
        width: 100vw;
    }
}

@media (max-height: 400px) {
    #area {
        padding-top: 30px;
    }
}

@media (max-height: 320px) {
    #area {
        padding-top: 20px;
    }
}