<app-header [showBackButton]="true"></app-header>
<div id="area" class="d-flex flex-wrap align-items-center justify-content-center">
    <div id="game-screen" appBackground>
        <app-score-board 
            [actualPlayer]="nextToPlay" 
            [player1Img]="(players) ? players[0].thumbnail : ''" 
            [player1Score]="score[0]" 
            [player2Img]="(players) ? players[1].thumbnail : ''" 
            [player2Score]="score[1]">
        </app-score-board>
        <div id="canvas-page" *ngIf="ongame" class="game-page d-flex flex-wrap justify-content-center" #gamePage>
          <app-canvas 
            [actualPlayerId]="nextToPlay" 
            (clickSound)="playSound($event)" 
            (win)="win($event)"
            (draw)="draw($event)"
            (switchPlayer)="switchPlayer()"></app-canvas>
        </div>
        <div id="endmatch-page" *ngIf="!ongame" class="game-page d-flex flex-wrap align-items-start justify-content-center" #endmatchPage>
          <div id="winner-cards" class="row d-flex flex-nowrap justify-content-center">
              <div class="col col-4" *ngIf="matchResult=='draw' || winner==0">
                  <app-endmatch-card [charSrc]="(players) ? players[0].thumbnail : ''"></app-endmatch-card>
              </div>
              <div class="col col-4" *ngIf="matchResult=='draw' || winner==1">
                  <app-endmatch-card [charSrc]="(players) ? players[1].thumbnail : ''"></app-endmatch-card>
              </div>
          </div>
          <div class="row">
              <div class="col col-12">
                  <p class="t-yellow endgame-msg endgame-win" *ngIf="matchResult=='win'">{{(players) ? players[winner].character : ''}} venceu!</p>
                  <p class="t-yellow endgame-msg endgame-draw" *ngIf="matchResult=='draw'">Empate</p>
              </div>
              <div class="btn-action-col d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-success btn-action-col"  (click)="continueGame()">Continuar</button>
            </div>
          </div>
        </div>
    </div>
</div>

<app-sound-player [action]="soundPlayerAction"></app-sound-player>




