<div id="canvas" class="d-flex flex-wrap align-items-center justify-content-center">
  <div *ngFor="let blc of blocks.block; let i = index" [className]="'block '+blc.borderCode">
    <img  [src]="pieces[blc.piece].img" (click)="onClickBlock(i, blc, blc.position.l, blc.position.c)">
  </div>
  <img *ngIf="showScratchWin" [src]="'assets/img/endmatch/'+dirWin+'.png'" alt="" class="scratch-win">
</div>
