$border-color: rgb(68, 145, 245);
#canvas {
    width: 300px;
    height: 300px;
    padding: 0;
    max-width: 550px;
    padding: 0;
    .block {
        width: 33.2%;
        height: 33.2%;
        padding: 3px;
        cursor: pointer;
        &.bt {
            border-top: 5px solid $border-color;
        }
        &.br {
            border-right: 5px solid $border-color;
        }
        &.bb {
            border-bottom: 5px solid $border-color;
        }
        &.bl {
            border-left: 5px solid $border-color;
        }
        img {
            padding: 5%;
            width: 100%;
        }
    }
    .scratch-win {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 9;
        bottom: 100%;
    }
}

@media (max-height: 600px) {
    #canvas {
        width: 50vh;
        height: 50vh
    }
}

@media (max-height: 400px) {
    #canvas {
        // width: 30vh;
        // height: 30vh;
    }
}

@media (max-width: 605px) {
    #canvas {
        // width: 50vh;
        // height: 50vh
    }
}