<div class="card d-flex align-items-center">
  <img [src]="(charFoundName != '') ? charFoundSrc : 'assets/img/emptycard.png'" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title" *ngIf="charFoundName!=''">{{charFoundName}}</h5>
    <input type="text" placeholder="Personagem" #charInput (keyup.enter)="findCharacter($event)" (blur)="findCharacter($event)" *ngIf="charFoundName==''">
  </div>
</div>
