.card {
    .card-img-top {
        width: 30vh;
        max-width: 168px;
    }
    .card-title {
        margin-bottom: 0;
    }
    input {
        width: 100%
    }
}

@media (max-height: 520px) {
    .card {
        .card-img-top {
            width: 25vh;
        }
    }
}

@media (max-height: 400px) {
    .card {
        .card-img-top {
            width: 15vh;
        }
    }
}

@media (max-width: 605px) {
    .card {
        .card-img-top {
            max-width: 100%;
        }
    }
}
