#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    #back-button {
        button {
            font-size: 20px;
            font-family: 'Bangers', cursive;
            font-weight: bold;
        }
    }
    #logo-header {
        padding-top: 5px;
        text-align: center;
        img {
            height: 70px;
        }
    }
}

@media (max-height: 529px) {
    #header {
        #logo-header {
            img {
                height: 50px;
            }
        }
    }
}

@media (max-width: 700px) {
    #header {
        #logo-header {
            img {
                height: 50px;
            }
        }
    }
}
