<header id="header">
  <div class="row">
    <div class="col col-4">
      <div id="back-button" *ngIf="showBackButton">
          <button type="button" class="btn btn-link"><i class="fas fa-caret-left"></i><a routerLink="/">Voltar</a></button>
      </div>
    </div>
    <div class="col col-4">
      <div id="logo-header">
        <h1 style="display: none">Marvel Tictactoe</h1>
        <img src="assets/img/logo-header.png" alt="Marvel Tictactoe">
      </div>
    </div>
    <div class="col col-4"></div>
  </div>
</header>
