body {
    margin: 0;
    background-color: rgb(14, 17, 26);
    font-family: 'Bangers', cursive;
}

.t-yellow {
    color: rgb(241, 208, 20);
}

/* BackgroundDirective */

.marvel-back-img {
    background: url(assets/img/splash.jpg) no-repeat center center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
