<audio #clickSound class="audio" src="./assets/sounds/click.wav" preload="auto" controls></audio>
<audio #introSound class="audio" src="./assets/sounds/intro.mp3" preload="auto" controls></audio>
<audio #winSound class="audio" src="./assets/sounds/win.mp3" preload="auto" controls></audio>
